streamlit
langchain-google-genai
langchain
langchain-community
google-generativeai
pymupdf
chromadb
pandas
docx2txt
unstructured[all-docs]
beautifulsoup4
lxml
Pillow
pysqlite3-binary
python-pptx

