streamlit==1.50.0
langchain-google-genai==2.1.12
langchain==0.3.27
langchain-community==0.3.30
google-genai==1.39.1
pysqlite3-binary==0.5.4
pymupdf==1.26.4
chromadb==1.1.0
pandas==2.3.3
docx2txt==0.9
unstructured==0.18.15
beautifulsoup4==4.14.2
lxml==6.0.2
Pillow==11.3.0
python-pptx==1.0.2
pytesseract==0.3.13
pdfminer.six==20250506
sentence-transformers==5.1.0
torch==2.8.0
transformers==4.56.2
python-docx==1.2.0
requests==2.32.5
streamlit-mic-recorder==0.0.8
SpeechRecognition==3.14.3
PyAudio==0.2.14


