streamlit
langchain
langchain-google-genai
langchain-community
langchain_chroma
google-generativeai
pymupdf
chromadb
pandas
Pillow
pysqlite3-binary
python-pptx
unstructured[all-docs]
lxml
